.app > div {
  align-items: center;
}

.flex, .app > div {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}

.column, .app > div {
  flex-direction: column;
}

.box {
  padding: 16px 10px;
  background: transparent;
  border: 1px solid white; 
}

.sidebar {
  flex: 1;
}

.view {
  flex: 3;
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

button.box{
  padding: 8px 16px;
  font-size: 14px;
}
a.active > button.box {
  color: black;
  background: white;
}
.channel-filter{
  justify-content: space-between;
}

.button:hover{
  cursor: pointer;
  color: black;
  background: white;
}